<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h4>在该页面修改你的数据</h4>
    <!--通过改变form标签中method属性来改变数据请求的方式-->
    <form action="http://localhost:5000/update" method="POST">
        请输入你需要修改的id:<input type="hidden" name="id"  value="{{ results.id }}"><br/>
        请输入修改的name:<input type="text" name="name" autocomplete="off" value="{{ results.name }}"><br/>
        请输入修改的sex<input type="text" name="sex" autocomplete="off" value="{{ results.sex }}"><br/>
        <input type="submit" value="Submit">
    </form>
    <a href="/info"><button>查看数据</button></a>
</div>
</body>
</html>